MONGO_URI = 
JWT_SECRET=

# Cloudinary Config
CLOUD_NAME=
API_KEY=
API_SECRET=
# --------------------------

# Static Pages 
PRIVACY_PAGE_ID=
SUPPORT_PAGE_ID=
ABOUT_PAGE_ID=
TERMS_PAGE_ID=

#  Google Auth token
CLIENT_TOKEN=
